* {
  margin: 0;
  padding: 0;
  text-align: center;
}

body{
  font-family: verdana;
  background-color: white;
}

/*Adding background picture to the top div which is the navigation bar and header*/
#topnav{
  background-image: url("the-flatiron-building.png");
  margin: 40px 10px;
}

/*navigation list distance from the header*/
.placenav {
  margin: 50px;
  line-height: 30px;
  list-style-type: none;
}

/*header*/
h1 {
  color: white;
  font-size: 60px;

}

.navigation{
  color: white;
  font-weight: bold;
  }

/*bottom navigation bar including background picutre*/
#bottomnav{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li a{
  display: block;
  float: left;
  padding: 2px;
  color: white;
}

#copy{
  float: left;
  margin: 7px;
  font-size: 10px;
  color: white;
}

#navbottom{
  background-image: url("the-flatiron-building.png");
  margin: 10px 10px;
}
