* {
  font-family: verdana;
  background-color: lightgray;
}

.topofsite{
  background-image: image(resources/images/the-flatiron-building.png);
}

h1 {
  color: white;
}

ul{
  list-style-type: none;
}

.navigation{
  color: lightgray;
  font-family: verdana;
}
